<% provide(:title,"#{@edition.work.title} (#{@edition.description})") %>
<p>Details of <%= @edition.work.title %>
(<%= @edition.description %>),
by
<%= "#{@edition.work.composer.first_name}
#{@edition.work.composer.last_name}" %></p>
<table border="1">
<tr>
<th>Publisher</th>
<th>Year</th>
<th>Price</th>
</tr>
<tr>
<td><%= @edition.publisher %></td>
<td><%= @edition.year %></td>
<td>$<%= @edition.price %></td>
</tr>
</table>