<% provide(:title,"Works by #{@composer.first_name} #{@composer.last_name}") %>
<p>Click on any work to see all available editions of that work.</p>
<ul>
<% @composer.works.each do |work| %>
<li><%= link_to work.title,
:controller => "work",
:action => "show",:id => work.id %>
</li>
<% end %>
</ul>